<nav >
  <div class="nav-itens">
    <div class="logo"><medicar-icon ></medicar-icon><h5 style="margin-left: 6.25px; margin-bottom: 0px;color: #444444;"><b>Medicar</b> </h5></div>
    <div class="user-data" > <p class="usuario" style="padding: 0px 40px 0px 0px;margin: 0px;">{{usuario}}</p> <p class="desconectar" style="padding: 0px; margin: 0px;" (click)="desconectar()">Desconectar</p></div>
  </div>
</nav>
<div class="page-content">
  <div class="consultas-info">
  <div class="title">
    <h2 >Consulta Clínica</h2>
    <button class="nova-consulta" data-bs-toggle="modal" data-bs-target="#nova-consulta"><plus-icon></plus-icon> Nova Consulta</button>
  </div>
    <table class="content-table">
      <thead>
        <tr>
          <th style>ESPECIALIDADE</th>
          <th >PROFISSIONAL</th>
          <th>DATA</th>
          <th>HORA</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consulta of consultas" style="height: 32px;">
          <td>{{consulta.medico.especialidade}}</td>
          <td>{{consulta.medico.nome}}</td>
          <td>{{dateTransform(consulta.dia)}}</td>
          <td>{{consulta.horario}}</td>
          <td (click)="deleteConsulta(consulta.id)" style="width: 120px;"><button class="delete-button"><x-icon></x-icon>  Desmarcar</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<nova-consulta-modal #novaConsulta [closeDrawer]="drawerDispose"></nova-consulta-modal>

